<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Deepanshu/IdeaProjects/TMDB_BYNDER">
        <classes>
            <class name="com.tmdb.tests.GetTopRatedMovieTests">
                <methods>
                    <include name="TC01_verifyOKResponse_WithoutOptional_ValidPayload"/>
                    <include name="TC02_verifyOKResponse_AllFields_ValidPayload"/>
                    <include name="TC03_verifyErrorResponse_WithoutAPIKey_InValidPayload"/>
                    <include name="TC04_verifyErrorResponse_InvalidAPIKey_InValidPayload"/>
                    <include name="TC05_verifyErrorResponse_InvalidResource_InValidPayload"/>
                    <include name="TC06_verifyErrorResponse_InvalidPageNumber_InValidPayload"/>
                    <include name="TC07_verifyErrorResponse_InvalidLanguage_InValidPayload"/>
                    <include name="TC08_verifyErrorResponse_InvalidRegion_InValidPayload"/>
                </methods>
            </class>
            <class name="com.tmdb.tests.PostRateMovieTests">
                <methods>
                    <include name="TC01_verifyOKResponse_ForAllFields_ValidPayload"/>
                    <include name="TC02_verifyErrorResponse_ForWithoutAPIKey_InValidPayload"/>
                    <include name="TC03_verifyErrorResponse_ForWithoutSessionID_InValidPayload"/>
                    <include name="TC04_verifyErrorResponse_ForInvalidMovieID_InValidPayload"/>
                    <include name="TC05_verifyErrorResponse_ForInvalidSessionID_InValidPayload"/>
                    <include name="TC06_verifyErrorResponse_ForInvalidApiKey_InValidPayload"/>
                    <include name="TC07_verifyErrorResponse_ForValue_GreaterThan10_ValidPayload"/>
                    <include name="TC08_verifyErrorResponse_ForValue_EqualTo0_ValidPayload"/>
                    <include name="TC09_verifyErrorResponse_ForValue_LessThan0_ValidPayload"/>
                    <include name="TC10_verifyErrorResponse_ForValue_DecimalValue_ValidPayload"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>